/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    /* CONTROLA A ALTURA DA LINHA DE UM TEXTO */
    line-height: 1.6;
    color: #333;
    background-color: aliceblue;
    padding: 20px;
}
/* Seletor de Classe */
.container{
    max-width: 900px;
    background-color: rgb(205, 189, 220);
    margin: 0 auto;
    /* Efeito de sombra suava 
    0px - deslocamento horizontal
    0px - deslocamento vertical
    10px - raio de desfoque*/
    box-shadow: 0 0 20px blue;
    border-radius: 10px;
}
/* SELETOR ID */
#main-header{
    /* linear-gradiente recebe 3 cores + posição */
    background: linear-gradient(90deg, #352c8a, #6302ff, #352c8a);
    color: white;
    padding: 30px;
    /* alinhamento do texto e da imagem */
    /* organiza os elemento dentro do container em linha ou coluna */
    display: flex;
    flex-direction: row;
    /* Define o espaçamento entre os itens do display flex */
    gap: 30px;
    align-items: center;
    border-radius: 10px;
}
#main-header h1{
    font-size: 50px;
}
img{
    border-radius: 10px;
    border: 4px solid rgba(#255, #255, #255, 0.3);
}
address{
    font-style: oblique;
}
h2{
    font-size: 1.8em;
    color: rgb(78, 78, 78);
    margin-bottom: 30px;
    text-align: center;
}
/* Seletores descendentes */
ol>li{
    /*list-style - remove o li*/
    list-style: none;
    /*cria novamente o li*/
    counter-increment: section-counter;
    background-color: rgb(144, 127, 205);
    border-radius: 7px;
    margin-bottom: 30px;
    position: relative;
    padding: 25px;
    border-left: 5px solid #22129e;
}
/* Seletor de evento */
ol>li::before{
    /*formata o li antes do container pai*/
    content: counter(section-counter);
    position: absolute;
    left: -15px;
    top: -15px;
    background: #352c8a;
    color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
}
section{
    background-color: rgb(167, 137, 221);
    padding: 20px;
    margin: 15px 0;
    border-radius: 5px;
}
.texto-formacao{
    font-size: 1.4em;
    font-weight: bold;
    color: #444;
    margin-bottom: 15px;
    /* 
    A propriedade transition no CSS serve para criar animações suaves quando um valor de estilo muda
    all Aplica a transição em todas as propriedades mudaram Ex: cor, tamanho, etc;
    0.3 Duração da animação - Quando menor -> mais rápido/Quanto maior -> mais suave
    ease Tipos de velocidade de animação Começa devagar -> acelera -> termina devagar
     */
     transition: all 0.3s ease;
     cursor: pointer;
}
.texto-formacao:hover{
    color: rgb(211, 15, 90);
    /* scale = função de escala (zona) 
    1.05 = fator de aumento / 1= tamanho original /1.05= 5 maior% / 0.9 = menor (90%)
    */
    transform:scale(1.05);
    text-shadow: 1px 1px 6px rgba(rgb(131, 10, 66), rgb(115, 6, 129), rgb(89, 0, 255), 0.4);
    
}
a{
    color: rgb(211, 15, 90);
    text-decoration: none;
    border-bottom: 1px dotted rgb(211, 15, 90);
}
a:hover{
    color: #ca0790;
    border-bottom-style:solid;
}